@import url("https://fonts.cdnfonts.com/css/teroxia-robotic-typeface");
* {
  font-family: "Teroxia Demo", sans-serif;
}
body {
  background-color: #70807a;
  color: #d35fe8;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

span.highlight {
  color: #0abf80;
  font-size: 300%;
}
header {
  background-color: #47524e;
  text-align: center;
  font-size: 100%;
}

div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.center {
  display: flex;
  justify-content: center;
}

div.message {
  diplay: flex-inline;
  flex-direction: row;
  justify-content: space-between;
  background-color: #70807a;
  color: #47524e;
  font-size: 200%;
  margin: 5px;
}
div.reset {
  color: #70807a;
  background-color: #47524e;
}

div.board {
  font-size: 500%;
  height: 720px;
  width: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

div.sub-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #70807a;
  border-color: #47524e;
  border-style: solid;
  width: 240px;
  height: 240px;
  padding: 15px;
}

div.sub {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #70807a;
  border-color: #47524e;
  border-style: solid;
  box-sizing: border-box;
  color: #faf6dc;
  text-align: center;
  font-size: 40px;
  width: 80px;
  height: 80px;
}

.lu {
  border-top-width: 0px;
  border-bottom-width: 5px;
  border-left-width: 0px;
  border-right-width: 5px;
}
.mu {
  border-top-width: 0px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
}
.ru {
  border-top-width: 0px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-right-width: 0px;
}

.lm {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 0px;
  border-right-width: 5px;
}
.mm {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
}
.rm {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-right-width: 0px;
}

.ld {
  border-top-width: 5px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 5px;
}
.md {
  border-top-width: 5px;
  border-bottom-width: 0px;
  border-left-width: 5px;
  border-right-width: 5px;
}
.rd {
  border-top-width: 5px;
  border-bottom-width: 0px;
  border-left-width: 5px;
  border-right-width: 0px;
}

.player_a {
  color: #d35fe8;
}

.player_b {
  color: #0abf80;
}

div.player_a {
  color: #d35fe8;
}

div.player_b {
  color: #0abf80;
}

div.clickable {
  cursor: pointer;
}

div.sub-board.player_a {
  background-color: #d35fe8;
}

div.sub-board.player_b {
  background-color: #0abf80;
}
div.sub-board.resolved {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #70807a;
  border-color: #47524e;
  border-style: solid;
  width: 240px;
  height: 240px;
  font-size: 150px;
}
